body {
    background-color: #FFF9F0;
    font-family: "Amatic SC", serif;
    text-align: center;
    animation: slideIn 2s ease-out;
}

h1 {
    font-family: "Amatic SC", serif;
    font-weight: 700;
    font-size: 100px;
    color: #D97742;
    margin-bottom: 20px;
}

h2 {
    font-family: "Amatic SC", serif;
    font-weight: 400;
    font-size: 70px;
    margin-bottom: 20px;
}

h3 {
    font-size: 40px;
    margin-bottom: 20px;
}

img {
    width: 100%;
    height: auto;
    max-height: 550px;
    margin-bottom: 20px;
    position: relative;
    animation: slideRotate 2s ease-out forwards; /* slides image for 2s then return back to starting position*/
}


.details,
.icons,
.labels {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.details div,
.icons div,
.labels div {
    width: 23%;
    margin-right: 10px;
}

.ingredients {
    list-style-type: square;
    font-size: 25px;
    margin-left: 50px;
    padding-left: 50px;
    line-height: 1.5;
    text-align: left;
    margin-bottom: 20px;
}

ul {
    padding-left: 50px;
    margin-left: 50px;
    list-style-position: inside;
    text-align: left;
}

li {
    font-family: "Montserrat", serif;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 10px;
}

.left-half {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    text-align: left;
}

.row {
    display: flex;
    align-items: start;
    gap: 20px;
    flex-wrap: wrap;
}

.col-6 {
    flex: 1;
    padding: 0;
    margin: 0;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

#method {
    text-align: center;
    padding: 20px 0;
    margin: 0;
}

#samp,
#beef-stew {
    font-size: 25px;
    margin-bottom: 20px;
}


.rating-container{
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    max-width: 400px;
    background: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.rating-container h3{
    font-size: 1.7rem;
    margin-bottom: 15px;
    color: #333;
}

.stars{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.star{
    font-size: 2rem;
    color: #ccc;
    cursor: pointer;
    transition: color 0.3 ease, transform 0.2 ease;
}

.star:hover{
    color: #ffcc00;
    transform: scale(1.2);
}

.feedback{
    margin-top: 15px;
    font-size: 1.2rem;
    color: #666
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideRotate{
       0% {
        transform: translateX(-100px) rotate(0deg); /* no rotation at start of screen*/
       }

       50% {
        transform: translateX(0) rotate(180deg); /*half way slide in, halway rotation*/
       }

       100% {
        transform: translateX(0) rotate(360deg); /*full slide in, full rotation*/
       }
}